<div class="youtube">
  <div class="youtube-search-row">
    <div class="youtube-body-logo">
      <img src="./assets/img/core-img/youtube-body-logo.png"/>
    </div>

    <div>
      <label for="country">Country</label>
      <select id="country">
        <option *ngFor="let country of countries" (select)="updateData(country, 1)">{{ country.name }}</option>
      </select>

      <label for="category">Category</label>
      <select id="category">
        <option></option>
        <!--<option *ngFor="let country of countries" (select)="updateData(country, 1)">{{ country.name }}</option>-->
      </select>
    </div>
  </div>

  <app-youtube-result *ngFor="let result of results, let i = index" [result]="result" [rank]="i + 1"></app-youtube-result>
</div>
