<div class="youtube">
  <div class="youtube-search-row">
    <div class="youtube-body-logo">
      <img src="./assets/img/core-img/youtube-body-logo.png"/>
    </div>

    <div>
      <label for="country">Country</label>
      <select id="country" (change)="updateCountry({name: $event.target.value.toString().substring(0, $event.target.value.search('&')) , alpha2Code: $event.target.value.toString().substring($event.target.value.search('&') + 1)})">
        <option *ngFor="let country of countries" [value]="country.name + '&' + country.alpha2Code">{{ country.name }}</option>
      </select>

      <label for="category">Category</label>
      <select id="category" (change)="updateCategory({name: $event.target.value.toString().substring(0, $event.target.value.search('&')) , id: $event.target.value.toString().substring($event.target.value.search('&') + 1)})">
        <option *ngFor="let category of categories" [value]="category.name + '&' + category.id ">{{ category.name }}</option>
      </select>
    </div>
  </div>

  <app-youtube-result *ngFor="let result of results, let i = index" [result]="result" [rank]="i + 1"></app-youtube-result>
</div>
