.result {
  background-color: white;
  position: relative;
  overflow: auto;
  margin: 1em;
  border: 1px solid white;
  font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
  font-weight: bolder;
}

.details {
  width: 50%;
  display: inline-block;
  position: relative;
}

.rank-title {
  display: table;
  width: 100%;
}

.rank {
  border-radius: 15px;
  display: table-cell;
  width: 50px;
  height: 50px;
  background-color: #e62117;
  color: white;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  vertical-align: middle;
}

.title {
  display: table-cell;
  color: black;
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
}

.description {
  color: #999999;
}

.picture {
  position: relative;
  display: inline-block;
  float: right;
}

img {
  display: block;
  position: relative;
  right: 0;
  width: 355px;
  height: 200px;
  max-width: 100%;
  max-height: 56.2979%;
}
