<div class="navbar slider-container">
  <app-slider class="slider"></app-slider>
  <div class="navbar-container">
    <a class="navbar-item youtube" routerLink="/youtube">
      <img src="./assets/img/core-img/youtube-logo.png"/></a>
    <a class="navbar-item netflix" routerLink="/netflix">
      <img src="./assets/img/core-img/netflix-logo.jpg"/></a>
    <a class="navbar-item spotify" routerLink="/spotify">
      <img src="./assets/img/core-img/spotify-logo.png"/></a>
    <a class="navbar-item google" routerLink="/google">
      <img src="./assets/img/core-img/google-logo.png"/></a>
  </div>
</div>
